{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot4()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<link href="/dist/css/swiper.min.css" rel="stylesheet"/>
<script src="/dist/js/swiper.min.js"></script>	
</head> 

<body>
<header>
{ZL.Label id="全站头部"/}
<section class="bs-header gask_Title">
<div class="container">
<h1>知宠网，这是解决问题的地方</h1>
</div>
</section>
</header>
<!--header end-->

<section class="container strong_main_warp">
<strong>提示</strong>
<div class="strong_main_con">{ZL.Label id="药品领取_法律声明"/}</div>
<div class="strong_main_link"><a id="link_btn" href="" class="btn btn-outline-success btn-sm">我要索取</a></div>
</section>

{ZL.Label id="全站底部"/}
{ZL.Label id="网友提问"/}
{ZL.Label id="侧边客服"/}
{ZL.Label id="仿公众号底部"/}
{ZL.Label id="四叶草插件"/}	
<script>
$(".navbar04").addClass("active");
//轮播active
$(function(){
	$(".carousel-inner .carousel-item:first-child").first().addClass('active');
	var nid="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}";
	if(nid=="27"){
	$("#link_btn").attr("href","/Shop/1.aspx");
	}
	else{
	$("#link_btn").attr("href","/Shop/2.aspx");
	}
	
})
$(function(){
	$(".solu-item-warp:nth-child(3)").addClass('solu-item-active');
})

//头部导航滚动变化
$(window).scroll(function(){
	if($(window).scrollTop()>0){
		$(".home_navbar").addClass("bg_green")
	}
	else{
		$(".home_navbar").removeClass("bg_green");
	}
});

/*Swiper插件滚动*/
var swiper = new Swiper('.swiper-container', {
  direction: 'vertical',
  autoplay: {
	delay: 3000,
  },
});	

//在线客服
$(".home_kefu_ct i").click(function(){
	$(this).parent().parent().parent().removeClass("active");
});
$(".home_kefu li:nth-child(6) a").click(function(){
	$body=(window.opera)? (document.compatMode=="CSS1Compat"? $('html') : $('body')) : $('html,body')
	$body.animate({scrollTop:0},1000);
});

//判断跳转链接
$(function(){


});


</script>
</body>
</html>
