{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot4()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<link href="/dist/css/swiper.min.css" rel="stylesheet"/>
<script src="/dist/js/swiper.min.js"></script>	
</head> 

<body>
<header>
{ZL.Label id="全站头部"/}
<section class="bs-header gask_Title">
<div class="container">
<h1>知宠网，这是解决问题的地方</h1>
<a class="btn btn-light btn-lg gask_Title_btn" href="/user/Content/AddContent?NodeID=24&ModelID=51">快速提问</a>
</div>
</section>
</header>
<!--header end-->

<div class="d-block d-sm-none phone_brand">
<strong>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}</strong>
<span>{ZL.Label id="获取节点说明" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" /}</span>
<div class="bottom_mask">
<div class="bottom_mask_t bottom_mask_top"><div class="mask_t_i mask_t_bg1"></div></div>
<div class="bottom_mask_t bottom_mask_middle"><div class="mask_t_i mask_t_bg2"></div></div>
<div class="bottom_mask_t bottom_mask_bottom"><div class="mask_t_i mask_t_bg3"></div></div>
</div>
</div>
<!--phone end-->

<section class="container gask_Breadcrumb">
<nav aria-label="breadcrumb" role="navigation" style="font-size: 0.9rem;">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">首页</a></li>
{ZL.Label id="输出多级节点导航_V4" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="30" /}
</ol>
</nav>
</section>
<!--breadcrumb end-->


<section class="container gask_Class">


<div class="gask_Class_hot"><span>热门犬种:</span>
<ul>
<li><a href="">边境牧羊犬</a></li>
<li><a href="">泰迪</a></li>
<li><a href="">约克夏</a></li>
<li><a href="">金毛寻回犬</a></li>
<li><a href="">比熊</a></li>
<li><a href="">雪纳瑞</a></li>
<li><a href="">柴犬</a></li>
<li><a href="">柯基</a></li>
<li><a href="">萨摩耶</a></li>
<li><a href="">阿拉斯加</a></li>
<li><a href="">哈士奇 </a></li>
<li><a href="">藏獒</a></li>
<li><a href="">松狮</a></li>
<li><a href="">吉娃娃</a></li>
<li><a href="">喜乐蒂牧羊犬</a></li>
<li><a href="">苏格兰牧羊犬</a></li>
<li><a href="">拉布拉多寻回犬</a></li>
<li><a href="">德国牧羊犬</a></li>
<li><a href="">博美犬</a></li>
<li><a href="">大白熊犬</a></li>
<li><a href="">法国斗牛犬</a></li>
<li><a href="">英国斗牛犬</a></li>
<li><a href="">萨摩耶犬</a></li>
<li><a href="">阿富汗猎犬</a></li>
<li><a href="">西高地白梗</a></li>
<li><a href="">小鹿犬</a></li>
<li><a href="">八哥犬</a></li>
<li><a href="">西施犬</a></li>
<li><a href="">腊肠犬</a></li>
<li><a href="">比格犬</a></li>
<li class="more_btn"><a href="#collapseExample" data-toggle="collapse" aria-controls="collapseExample" role="button" >更多分类<i class="zi zi_plus"></i></a></li>
</ul>
</div>


  
<div class="collapse" id="collapseExample">

<div class="gask_Class_item"><span>狗龄:</span>
<ul>
<li><a href="">1岁</a></li>
<li><a href="">2岁</a></li>
<li><a href="">3岁</a></li>
<li><a href="">4岁</a></li>
<li><a href="">5岁</a></li>
<li><a href="">5-8岁</a></li>
<li><a href="">9-10岁</a></li>
<li><a href="">10岁以上</a></li>
</ul>
</div>
<div class="gask_Class_item"><span>问题类型:</span>
<ul>
<li><a href="">喂养</a></li>
<li><a href="">训练</a></li>
<li><a href="">细小</a></li>
<li><a href="">犬瘟</a></li>
<li><a href="">眼科</a></li>
<li><a href="">耳螨</a></li>
<li><a href="">肠胃科</a></li>
<li><a href="">皮肤病</a></li>
<li><a href="">口腔科</a></li>
<li><a href="">关节骨科</a></li>
<li><a href="">体内驱虫</a></li>
<li><a href="">体外驱虫</a></li>
<li><a href="">其它问题</a></li>
</ul>
</div>


  <div>
  <div class="gask_Class_type">
	<div class="row">
	<div class="col-12 col-md-4 gask_Class_type_i"><span>A</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="A" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>B</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="B" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>C</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="C" ShowNum="10" /}</ul></div>{Split/}
	<div class="col-12 col-md-4 gask_Class_type_i"><span>D</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="D" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>E</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="E" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>F</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="F" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>G</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="G" ShowNum="10" /}</ul></div>{Split/}
	<div class="col-12 col-md-4 gask_Class_type_i"><span>H</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="H" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>J</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="J" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>K</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="K" ShowNum="10" /}</ul></div>{Split/}
	<div class="col-12 col-md-4 gask_Class_type_i"><span>L</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="L" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>M</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="M" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>N</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="N" ShowNum="10" /}</ul></div>{Split/}
	<div class="col-12 col-md-4 gask_Class_type_i"><span>O</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="O" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>P</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="P" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>Q</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="Q" ShowNum="10" /}</ul></div>{Split/}
	<div class="col-12 col-md-4 gask_Class_type_i"><span>R</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="R" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>S</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="S" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>T</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="T" ShowNum="10" /}</ul></div>{Split/}
	<div class="col-12 col-md-4 gask_Class_type_i"><span>W</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="W" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>X</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="X" ShowNum="10" /}</ul></div>{Split/}
	<div class="col-12 col-md-4 gask_Class_type_i"><span>Y</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="Y" ShowNum="10" /}</ul></div>
	<div class="col-12 col-md-4 gask_Class_type_i"><span>Z</span><ul>{ZL.Label id="按拼音排序字母查询出狗狗类型" Diccate="5" Zm="Z" ShowNum="10" /}</ul></div>{Split/}
	</div>
	</div>
  </div>
</div>
</section>
<!--gask_Class end-->


<section class="container gask_List">
<div class="row">
<div class="col-md-9">
{ZL.Label id="输出问答问题内容简介标题" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" TitleNum="30" ShowNum="10" synNum="100" /}
</div>
<div class="col-md-3 gask_List_r">
<div class="gask_List_r_case"><a href="/user/Content/AddContent?NodeID=24&ModelID=51">发表问题</a><div class="case_Mask"></div></div>{Split/}
<div id="about" class="news_list">
<div class="news_list_t"><h2>相关文章</h2></div>
<ul class="news_list_c">
{ZL.Label id="相关文章列表输出" ShowNum="10" TitleNum="30" KeyWord="怎么办" /}
</ul>
</div>
</div>
</div>
</section>
<!--list end-->
{ZL.Label id="全站底部"/}
{ZL.Label id="网友提问"/}
{ZL.Label id="侧边客服"/}
{ZL.Label id="仿公众号底部"/}
{ZL.Label id="四叶草插件"/}	
<script>
$(".navbar04").addClass("active");
//轮播active
$(function(){
	$(".carousel-inner .carousel-item:first-child").first().addClass('active');
})
$(function(){
	$(".solu-item-warp:nth-child(3)").addClass('solu-item-active');
})

//头部导航滚动变化
$(window).scroll(function(){
	if($(window).scrollTop()>0){
		$(".home_navbar").addClass("bg_green")
	}
	else{
		$(".home_navbar").removeClass("bg_green");
	}
});

/*Swiper插件滚动*/
var swiper = new Swiper('.swiper-container', {
  direction: 'vertical',
  autoplay: {
	delay: 3000,
  },
});	

//在线客服
$(".home_kefu_ct i").click(function(){
	$(this).parent().parent().parent().removeClass("active");
});
$(".home_kefu li:nth-child(6) a").click(function(){
	$body=(window.opera)? (document.compatMode=="CSS1Compat"? $('html') : $('body')) : $('html,body')
	$body.animate({scrollTop:0},1000);
});


</script>
</body>
</html>
